/* Global */
:root {
  /* App */
  --color-primary: var(--color-black);

  --color-primary-variant: var(--color-gray);

  --color-accent: var(--color-blue);

  --color-accent-variant: var(--color-orange);

  --color-text: var(--color-white);
  /* Colors */

  --color-white: #ffffff;

  --color-black: #050a13;

  --color-blue: #03e8f9;

  --color-orange: #fd6413;

  --color-gray: #1b1e26;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
button {
  background-color: transparent;
  border: 0;
  outline: 0;
}
button:focus {
  outline: 1px solid var(--color-accent);
}
/* Header */
.header {
  padding: 1rem;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_logo_img {
  border-radius: 100%;
  width: 36px;
  height: 36px;
}
.header_logo_title {
  font-size: 1.8rem;
}
.header_menu {
  display: flex;
  gap: 4px;
}
.header_menu_item {
  padding: 8px 16px;
}
.header_menu_item:hover {
  border-bottom: solid var(--color-accent);
}
.header_menu_item.active {
  border: solid var(--color-accent);
}
/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  text-align: center;
}
.home_avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  border: solid 3px var(--color-accent);
}

.home_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home_title-strong {
  color: var(--color-accent);
}
.home_desscription {
  font-size: 1.3rem;
}
.home_contact {
  display: inline-block;
  background-color: var(--color-accent);
  border-radius: 0.2rem;
  color: var(--color-black);
  margin: 1.6rem;
  padding: 0.5rem 1rem;
  font-weight: bolder;
}

.home_contact:hover {
  background-color: transparent;
  outline: solid var(--color-accent);
  color: var(--color-text);
}
